<section class="contact-area" id="contact">
    <div class="container contact">
        <div class="row">
            <div class="col text-center contact-title">
                <h4 class="text-uppercase">Contactanos!</h4>
                <p class="para">{{ _is.contact.descripcion }}</p>
            </div>
        </div>
        <div class="d-sm-flex align-content-center justify-content-center">
            <div class="col-12">
                <form (ngSubmit)="processForm()">
                    <div class="row d-flex flex-row flex-wrap mb-2 form-group">
                        <div class="col input-textbox">
                            <input type="text" [(ngModel)]="nombre" name="nombre" id="nombre" class="form-control" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="row d-flex flex-row flex-wrap mb-2 form-group">
                        <div class="col input-textbox">
                            <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" placeholder="Correo">
                        </div>
                    </div>
                    <div class="row d-flex flex-row flex-wrap mb-2 form-group">
                        <div class="col input-textbox">
                            <textarea name="msj" [(ngModel)]="msj" name="msj" id="msj" cols="20" rows="10" class="form-control" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <div class="row d-flex flex-row flex-wrap">
                        <div class="col">
                            <div class="btn-submit">
                                <button type="submit" class="btn btn-light btn-block"><i class="fas fa-paper-plane"></i> Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
