<section class="contact-area" id="contact">
    <div class="container contact">
        <div class="row">
            <div class="col text-center contact-title">
                <h4 class="text-uppercase">Contactanos!</h4>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, incidunt voluptas ex labore, nulla delectus sunt facilis recusandae architecto blanditiis repellat, a doloribus! Quod necessitatibus exercitationem deserunt nesciunt architecto
                    provident.
                </p>
            </div>
        </div>
        <div class="d-sm-flex align-content-center justify-content-center">
            <div class="col-12">
                <form>
                    <div class="row d-flex flex-row flex-wrap mb-2 form-group">
                        <div class="col input-textbox">
                            <input type="text" id="email" class="form-control" placeholder="Correo">
                        </div>
                    </div>
                    <div class="row d-flex flex-row flex-wrap mb-2 form-group">
                        <div class="col input-textbox">
                            <textarea name="msj" id="msj" cols="20" rows="10" class="form-control" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <div class="row d-flex flex-row flex-wrap">
                        <div class="col">
                            <div class="btn-submit">
                                <button type="submit" class="btn btn-light btn-block"><i class="fas fa-paper-plane"></i> Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
