<section class="portfolio-area" id="portfolio">
    <div class="container">
        <div class="row mb-4">
            <div class="col text-center">
                <h1 class="text-uppercase text-title">Portafolio</h1>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi odit natus sed dolor. Vero quis ipsam cupiditate alias tenetur debitis fugit pariatur. Dolores quidem quae, iure deleniti quam assumenda?</p>
            </div>
        </div>
        <div class="container services-list">
            <div class="row grid">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="our-project bg-light shadow-sm">
                        <div class="img">
                            <a class="test-popup-link" href="assets/img/page1.png">
                                <img src="assets/img/page1.png" class="img-fluid" alt="Portfolio-1">
                            </a>
                        </div>
                        <div class="title py-4 text-center">
                            <h4 class="text-uppercase">Sample_Title</h4>
                            <span class="text-secondary">sample description</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="our-project bg-light shadow-sm">
                        <div class="img">
                            <a class="test-popup-link" href="assets/img/page1.png">
                                <img src="assets/img/page1.png" class="img-fluid" alt="Portfolio-1">
                            </a>
                        </div>
                        <div class="title py-4 text-center">
                            <h4 class="text-uppercase">Sample_Title</h4>
                            <span class="text-secondary">sample description</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
