<section class="about-area" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-self-center">
                <div class="about-image content-end">
                    <img src="assets/img/about.svg" alt="About us" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 about-title text-center">
                <h2 class="text-uppercase pt-5">
                    <span>Let me in!</span>
                    <span>introduce</span>
                    <span>myself</span>
                </h2>
                <div class="paragraph py-4">
                    <p class="para">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea perferendis architecto odio illum tempora atque magni ad quasi aut.
                    </p>
                    <p class="para">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                        content here', making it look like readable English.
                    </p>
                </div>
                <button type="button" class="btn button primary-button text-uppercase">Download cv</button>
            </div>
        </div>
    </div>
</section>
