<section class="about-area" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-self-center">
                <div class="about-image content-end">
                    <img [src]="_is.about.imagen" alt="About us" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 about-title text-center">
                <h2 class="text-uppercase pt-5">
                    <span>{{ _is.about.titulo }}</span>
                </h2>
                <div class="paragraph py-4">
                    <p class="para">{{ _is.about.parrafo1 }}</p>
                    <p class="para">{{ _is.about.parrafo2 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
