<section class="services-area" id="services">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-uppercase text-title">Services</h1>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi odit natus sed dolor. Vero quis ipsam cupiditate alias tenetur debitis fugit pariatur. Dolores quidem quae, iure deleniti quam assumenda?</p>
            </div>
        </div>
        <div class="container services-list">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="services w-100 m-1">
                        <div class="services-img text-center py-4">
                            <img class="w-50" src="assets/img/icons/dev.svg" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-jost">Web Develop</h5>
                            <p class="card-text text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum eaque sint ab quasi in reiciendis qui, animi nihil culpa autem iste ipsam. Ipsa cupiditate hic illum adipisci fugit sapiente velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="services w-100 m-1">
                        <div class="services-img text-center py-4">
                            <img class="w-50" src="assets/img/icons/ux.svg" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-jost">UX & UI</h5>
                            <p class="card-text text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum eaque sint ab quasi in reiciendis qui, animi nihil culpa autem iste ipsam. Ipsa cupiditate hic illum adipisci fugit sapiente velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="services w-100 m-1">
                        <div class="services-img text-center py-4">
                            <img class="w-50" src="assets/img/icons/web.svg" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-jost">Web Design</h5>
                            <p class="card-text text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum eaque sint ab quasi in reiciendis qui, animi nihil culpa autem iste ipsam. Ipsa cupiditate hic illum adipisci fugit sapiente velit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="services w-100 m-1">
                        <div class="services-img text-center py-4">
                            <img class="w-50" src="assets/img/icons/seo.svg" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-jost">SEO</h5>
                            <p class="card-text text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum eaque sint ab quasi in reiciendis qui, animi nihil culpa autem iste ipsam. Ipsa cupiditate hic illum adipisci fugit sapiente velit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
