<section class="services-area" id="services">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-uppercase text-title">{{ _is.services.titulo }}</h1>
                <p class="para">{{ _is.services.descripcion }}</p>
            </div>
        </div>
        <div class="container services-list">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let service of _is.services.servicios">
                    <div class="services w-100 m-1">
                        <div class="services-img text-center py-4">
                            <img class="w-50" [src]="service.imagen" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-jost">{{ service.titulo }}</h5>
                            <p class="card-text text-secondary">{{ service.descripcion }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
